/* 🌿 RESET */


/* 🌿 BODY */
body {
  font-family: Arial, sans-serif;
  background: #fdfdfd;
  color: #00263d;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding-top: 60px;

}


/* 🌿 NAVBAR */
.navbar {
  height: 55px;
  background: #ffffff;
  border-bottom: 1px solid #ccc;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 800;
}

.navbar img {
  height: 35px;
  object-fit: contain;
}

/* 🌿 FOOTER */
.app-footer {
  position: fixed;
  bottom: -5px;
  left: 0;
  right: 0;
  height: 65px;
  background: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 900;
  border-top: 1px solid transparent;
}

.app-footer .home-btn {
  background-color: #00263d;
  width: 90%;
  height: 45px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
}

.app-footer .home-icon {
  font-size: 28px;
  color: #fff;
}

.pro-title {
    font-size: 28px;
    text-align: center;
    font-weight: 600;
    color: #111827;          /* gray-900 */
    letter-spacing: -0.5px;
    margin-bottom: 0px;
}

.separator {
    border: none;
    height: 1px;
    background-color: #000000; /* gray-200 */
    margin: 24px 0;
    width: 50%;
    margin: 24px auto; /* auto يمين وشمال = في النص */

}




/* btn-grid */
.btn-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 25px;
  margin-top: 15px;
}

.btn-container button {
  background: #00263d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 15px 0;
  font-size:16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

/* owner-gri */

.owner-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 12px;
  width: 90%;
  max-width: 400px;
  margin: 0 auto 25px;
  margin-top: 15px;
}

.owner-grid button {
  background: #00263d;
  color: #fff;
  border: none;
  border-radius: 8px;
  padding: 15px 0;
  font-size:16px;
  font-weight: bold;
  cursor: pointer;
  transition: background 0.3s, transform 0.2s;
}

/* pop-up */

.popup {
  position: fixed;
  inset: 0;
  background: rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.popup-content {
  background: #fff;
  padding: 20px;
  width: 300px;
  border-radius: 8px;
  text-align: center;
}

.close {
  float: right;
  cursor: pointer;
  font-size: 20px;
}
